[Desktop Entry]
Version=1.0
Name=Netatmo Indicator
Comment=Indicator for the Netatmo Weather Station
Exec=netatmo_indicator.py
Type=Application
Icon=drive-harddisk-symbolic.svg
Terminal=false
